/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
img {
    /* Ognuna occupa il 100% del contenitore */
    width: 100%;
}


/* COMMON */
.wrapper {
    padding: 10px;
    width: 80%;
    margin: 0 auto;
}

.common-margin {
    margin: 20px 0;
}

/* Per la trasparenza delle immagini */
.layover {
    /* Altezza/larghezza del contenitore */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.gray-text {
    color: #858585;
    font-size: 15px;
}

h4 {
    padding: 20px 0;
}


/* HEADER */
/* Logo */
.logo img {
    width: 120px;
}

/* Menu */
.menu {
    list-style-type: none;
    padding: 2% 0;
}
.menu li {
    display: inline-block;
    margin-right: 20px;
}
.menu a {
    text-transform: uppercase;
    text-decoration: none;
    color: #858585;
}

/* Banner */
.banner {
    color: white;
    border-radius: 15px;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    position: relative;
}
/*
Si può anche utilizzare "object-fit con l'immagine in HTML anzichè come background-image.
Prende le stesse dimensioni del suo contenitore e si adatta
In questo caso va data un'altezza fissa al genitore.

.banner img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
*/
.banner .branch {
    width: 45%;
    position: absolute;
    bottom: 8%;
    left: 4%;
}


/* MAIN */
/* Clearfix, necessario al genitore che contiene i float */
.content::after {
    content: "";
    display: table;
    clear: both;
}

/* Colonne */
main .content .col {
    float: left;
}

main .col-top {
    padding: 20px 0;
}

.content .left,
.content .right {
    width: 20%;
}

.content .center {
    width: 58%;
    margin: 0 1%;
}
/* Common img */
.col .col-img {
    background-size: cover;
    background-position: center;
    height: 200px;
}

#img-1 {
    background-image: url("../img/img-1.jpg");
}
#img-2 {
    background-image: url("../img/banner-2.jpg");
}
#img-3 {
    background-image: url("../img/img-3.jpg");
}


/* FOOTER */
footer {
    text-align: center;
}
.entity {
    color: red;
    font-size: 25px;
}